/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  letter-spacing: 0.06rem;
  font-weight: 400;
  font-family: var(--ff-primary);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
} 

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root{
  /* font-colors */
  --clr-primary: #F1CDB3;
  --clr-primary-light: #FDDCC4;
  --clr-light-xl: white;
  --clr-light-s: #FAFAFA;
  --clr-dark-s: #CDCDCD;
  --clr-dark-3xl: #292929;
  --clr-dark-l: #545454;
  --clr-dark-xl: #4C4C4C;
  --clr-dark-m: #B2B2B2;
  /* font-size */
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-15: 15px;
  --fs-17: 17px;
  --fs-20: 20px;
  --fs-25: 25px;
  --fs-32: 32px;
  --fs-35: 35px;
  --fs-44: 44px;
  /* font family */
  --ff-primary: Georgia, serif;
  --ff-second: Arial, serif;
  /* line height */
  --lh-15: 15px;
  --lh-16: 16.5px;
  --lh-18: 18px;
  --lh-22: 22px;
  --lh-23: 23px;
  --lh-24: 24px;
  --lh-35: 35.2px;
  --lh-45: 45.5px;
  --lh-52: 52.2px;
  --lh-57: 57px;
}
/* css */

.header {
  display: flex;
  justify-content: center;
}

.header_content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  width: 1280px;
}

.header_burger_btn {
  display: none;
}
.burger_content {
  display: none;
}

@media (min-width: 768px) and (max-width: 1279px){
  .header_content {
    padding: 30px 30px 30px 30px;
  }
  .header_ul {
    padding-inline-start: 0;
  }
}

.header_ul {
    display: flex;
}
.header_ul_li {
  margin-left: 35px;
}

h1 {
  font-size: var(--fs-32);
  line-height: var(--lh-35);
  color: var(--clr-dark-l);
  margin-bottom: 10px;
  white-space: nowrap;
}

.logo_subname {
  font-size: var(--fs-13);
  line-height: var(--lh-15);
  color: var(--clr-dark-3xl);
  font-family: var(--ff-second);
  white-space: nowrap;
}

.header_ul_li {
  margin-left: 35px;
  font-family: var(--ff-second);
  font-size: var(--fs-15);
  line-height: var(--lh-24);
  color: var(--clr-dark-l);
  white-space: nowrap;
}

.header_ul_li:first-child{
  margin-left: 0;
}

.header_ul_li_our-pets_link {
  text-decoration: var(--clr-primary) underline 3px;
  color: var(--clr-dark-3xl);
  text-underline-offset: 7px;
}

@media (min-width: 320px) and (max-width: 767px){
  .header_content {
    padding: 30px 53px 60px 10px;
  }

  .header_burger_btn {
    display: block;
  }

  .header_nav {
    display: none;
  }
  .burger_content{
    display: block;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    width: 320px;
    height: 823px;
    background-color: var(--clr-dark-3xl);
    padding: 30px 0 0 10px;
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1);

  }
  .header_burger_btn {
    display: block;
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 100;
    padding: 10px;
    cursor: pointer;
  }
  .nav-open .burger_content {
    transform: translateX(0);
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.7);

  }
  .nav-open .header_content>.logo {
    display: none;
  }

  .nav-open .hamburger {
    transform: rotate(45deg);
  }
  
  .nav-open .hamburger::before {
    opacity: 0;
    color: white;
  }
  
  .nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
    color: white;

  }
  .nav-open .logo_name {
    color: white;
  }

  .burger_ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: var(--fs-32);
    line-height: 51px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .burger_ul_li_our_pets_link{
    text-decoration: var(--clr-primary) underline 3px;
    color: var(--clr-light-xl);
    text-underline-offset: 7px;
  }

  .burger_ul_li {
    color: white;
    margin-bottom: 40px;
  }

  .burger_logo {
    margin-bottom: 158px;
  }

  .hamburger {
    display: block;
    position: relative;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2em;
    height: 3px;
    background: black;
    cursor: pointer;
    
    transition: transform 350ms ease-in-out, opacity 50ms linear;
  }
  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }
  .hamburger::before { bottom: 6px; }
  .hamburger::after { top: 6px;}

  .nav-open .hamburger,
  .nav-open .hamburger::before,
  .nav-open .hamburger::after 
  {
    background: white;
  }
}

.pets {
  display: flex;
  background-color: #F6F6F6;
  justify-content: center;
}

.pets_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  padding: 80px 40px 100px;
}

.pets_h3 {
  max-width: 400px;
  max-height: 90px;
  margin-bottom: 60px;
  text-align: center;
  letter-spacing: var(--ls-6);
}


.pets_slider {
  display: flex;
  position: relative;
}

.slider_container {
  position: relative;
  overflow: hidden;
}
.pets_cards_container{
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 931px;
  transition: transform 250ms ease-in;
}


.slide {
  width: 1200px;
  height: 931px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  position: absolute;
}

.slider_card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-light-s);
  
}

.pets_button_container{
  display: flex;
  width: 270px;
  justify-content: space-evenly;
  /* flex-direction: row; */
}
.third_card{
  margin-right: 0px;
}

.slider_card_img, .slider_card_p, .slider_card_btn {
  margin-bottom: 30px;
  letter-spacing: var(--ls-6);
}

.slider_prev_btn, .slider_next_btn{
  all: unset;
  cursor: pointer;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 2px solid var(--clr-primary-light);
  align-self: center;
}



.slider_prev_btn:hover, .slider_next_btn:hover{
  background-color: var(--clr-primary-light);
  transition: 0.3s;
}

.pets_btn {
  width: 261px;
  height: 52px;
  background-color: var(--clr-primary);
  border-radius: 100px;
  border: none;
  font-size: var(--fs-17);
  line-height: var(--lh-22);
  color: var(--clr-dark-3xl);
  letter-spacing: var(--ls-6);
}

.pets_btn:hover{
  background-color: var(--clr-primary-light);
  border-color: var(--clr-primary-light);
  transition: 0.3s;
}

.modal {
  width: 900px;
  height: 500px;
  border: none;
  border-radius: 9px;
  padding: 0;
}
.modal_container {
  display: flex;
}
.modal_img {
  width: 500px;
  height: 500px;
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.5);
}

.close-modal {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  right: 16px;
  top: 16px;
  border: 3px solid var(--clr-primary);
  background-color: inherit;
  
}

.modal_text-content {
  width: 350px;
}

@media (min-width: 768px) and (max-width: 1279px){
  .pets_content {
    padding: 80px 30px 100px;
  }

  .pets_cards_container{
    padding: 0 12px;
    width: 580px;
    height: 1365px;
  }
  
  .slider_card {
    margin: 0;
  }

  .slide {
    width: 580px;
    height: 1365px;
  }

  .third_card {
    display: none;
  }
  .modal {
    width: 630px;
    height: 350px;
  }
  .modal_img {
    width: 350px;
    height: 350px;
  }
  
  .modal_text-content {
    width: 260px;
  }
  .slider_card:nth-last-child(-n+2) {
    display: none;
  }
  
}

.pets_h3 {
  color: var(--clr-dark-l);
  font-size: var(--fs-35);
  line-height: var(--lh-45);
}

.slider_card_p {
  color: var(--clr-dark_l);
  font-size: var(--fs-20);
  line-height: var(--lh-22);
}

.slider_card_btn {
  color: var(--clr-dark-3xl);
  font-size: var(--fs-17);
  line-height: var(--lh-22);
  width: 187px;
  height: 52px;
  background-color: white;
  border-radius: 100px;
  border: 2px solid var(--clr-primary);

}

.slider_card_btn:hover {
  background-color: var(--clr-primary-light);
  border-color: var(--clr-primary-light);
  transition: 0.3s;
}

@media (min-width: 320px) and (max-width: 767px) {
  .pets_content {
    max-width: 300px;
    padding: 42px 10px;
  }
  .pets_cards_container {
    width: 270px;
    height: 1349px;

    padding: 0;
  }

  .slide {
    width: 270px;
    height: 1349px;
  }

  .pets_slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .modal {
    width: 240px;
    height: 341px;
  }
  .modal_img {
    display: none;
  }
  
  .modal_text-content {
    width: 220px;
    height: 321px;
    padding: 10px;
  }
  .close-modal {
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
  }
  .slider_prev_btn, .slider_next_btn {
    order: 1;
  }


  .slider_card {
    margin: 0;
  }

  .pets_h3 {
    font-size: var(--fs-25);
    line-height: var(--lh-32);
  }

  .second_card, .third_card {
    display: none;
  }
  .slider_card:nth-last-child(-n+5) {
    display: none;
  }

  .modal {
    height: 360px;
  }

}


.footer {
  display: flex;
  background: linear-gradient(to bottom right, #5B483A, #262425);
  letter-spacing: var(--ls-6);
  justify-content: center;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  padding: 40px 40px 0;
} 

.boston, .london {
  display: flex;
}

.email_field, .phone-number_field {
  display: flex;  
}

.email, .phone-number {
  margin-left: 20px;
}

.contacts_h3, .email_field, .phone-number_field {
  margin-bottom: 40px;
}

.adress_h3, .boston, .london {
  margin-bottom: 32px;
}
.boston_adress, .london_adress {
  margin-left: 20px;
}
  
  
@media (min-width: 768px) and (max-width: 1279px) {
  .footer_content{
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    justify-content: baseline;
    padding: 30px 30px 0;
  }
  .footer_img {
    margin: 0 auto;
  }
  .contacts {
    padding-left: 34px;
    margin-bottom: 65px;
  }

  .adress {
    padding-right: 34px;
  }
  .phone-number_field, .london {
    margin-bottom: 0;
  }
}
    .contacts_h3, .adress_h3 {
  color: var(--clr-light-xl);
  font-size: var(--fs-35);
  line-height: var(--lh-45);
}

.email, .phone-number, .boston_adress, .london_adress {
  color: var(--clr-primary);
  font-size: var(--fs-20);
  line-height: var(--lh-23);
}

@media (min-width: 320px) and (max-width: 767px){
  .footer_content {
    flex-direction: column;
    width: 300px;
    padding: 30px 10px 0;
    align-items: center;
  }

  .contacts_h3, .adress_h3 {
    text-align: center;
  }

  .adress_h3, .boston {
    margin-bottom: 40px;
  }

  .london {
    margin-bottom: 45px;
  }

  .start_h2, .pets_h3, .help_h3, .donation_h3, .contacts_h3, .adress_h3 {
    font-size: var(--fs-25);
    line-height: var(--lh-32);
  }
}